.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    color: $second-btn;
    border-radius: 4px;
    cursor: pointer;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     margin-top: 30px;
     padding: 10px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $hover-btn;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    

  }
  
  