.logo {
   font-family: 'Raleway', sans-serif;
    font-weight: 700;
  // font-size: 26px;
  // line-height: 1.19;
  // letter-spacing: 0.03em;
  // color: $accent-color;



 @media screen and (max-width:1199px) {
  flex-wrap:nowrap;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $accent-color;
 }

 @media screen and (min-width:1200px) {
 
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: $accent-color;
 }
  
}




.header__logo {
  // margin-right: 93px;
  padding: 24px 0;

 @media screen and (min-width:768px){
  width: 100%;
  margin-right: 87px;
  
 }
 @media screen and (min-width:1200px){
  margin-right: 93px;
  
 }

 
}

.logo__big {
  color: $logo-big;
}

.logo__small {
  color: $logo-basic;
}

.footer__logo {
  min-width: 134px;
}
