.command-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* padding-bottom: 30px; */
  }


  
  .command-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
   
    &:hover .command-soc-icon,
    &:focus .command-soc-icon {
      fill: #fff;
    }

  }
  
  .command-soc-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

// footer

.social-soc-list {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
  .social-soc-item {
    position: relative;
  }
  
  .social-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     background: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
    

  }
  
  .social-soc-icon {
    fill: #fff;
  }
  
//   .social-soc-link:hover,
//   .social-soc-link:focus {
//     background-color: $accent-color;
//   }
  