$typical-lh: 1.14;
$main-color: #757575;
$main-btn: #212121;
$second-color: #212121;
$second-btn: #ffffff;
$accent-color: #2196f3;
$title-color: #ffffff;
$basic-fon: #ffffff;
$section-color: #2f303a;
$logo-basic: #ffffff;
$command-fon: #f5f4fa;
$footer-color: rgba(255, 255, 255, 0.6);
$hover-btn: #188ce8;
$logo-big: #000000;
