.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-color;
  margin-bottom: 50px;
}
.command {
  background-color: $command-fon;
  // display: block;
   padding-bottom: 60px;
   padding-top: 60px;
  @media screen and (min-width: 480px) {
    padding-bottom: 60px;
      padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
      padding-bottom: 94px;
      padding-top: 94px;
    }

}
// у него list
.command-item {
  display: flex;
  flex-wrap: wrap;
     gap: 30px;
 
}
// у него item
.command-list {
  background-color: $basic-fon;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // width: 100%;
  margin: auto;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  } 
  @media screen and (min-width: 1200px) {
   
     width: calc((100% - 90px) / 4); 
  }
}

.command-img {
  background: #fff;
  border-radius: 0px;
}

.command-item-content {
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $second-color;
  margin-bottom: 10px;
  /* padding-top: 30px; */
}
.command-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
  padding-bottom: 16px;
}

